<?xml version="1.0" encoding="utf-8"?>

<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>
  <configSections>
    <section name="dotless" type="dotless.Core.configuration.DotlessConfigurationSectionHandler, dotless.Core" />
  </configSections>
    <system.web>
      <compilation debug="true" targetFramework="4.5.1" />
      <httpRuntime targetFramework="4.5.1" />
      <httpHandlers>
          <add path="*.less" verb="GET" type="dotless.Core.LessCssHttpHandler, dotless.Core" />
      </httpHandlers>
      
    <caching>
            <outputCacheSettings>
                <outputCacheProfiles>
                    <add name="SassAndCoffeeCacheSettings" enabled="true" duration="3600" location="Any" varyByHeader="Accept-Encoding" />
                </outputCacheProfiles>
            </outputCacheSettings>
        </caching><httpModules>
            <add name="SassInterceptorModule" type="SassAndCoffee.AspNet.SassInterceptorModule" />
            <add name="JavaScriptInterceptorModule" type="SassAndCoffee.AspNet.JavaScriptInterceptorModule" />
        </httpModules></system.web>
    
    <dotless minifyCss="false" cache="true" web="false" strictMath="false" />
    <system.webServer>
      <validation validateIntegratedModeConfiguration="false" />
        <handlers>
            <add name="dotless" path="*.less" verb="GET" type="dotless.Core.LessCssHttpHandler,dotless.Core" resourceType="File" preCondition="" />
        </handlers>
    <modules runAllManagedModulesForAllRequests="true">
            <add name="SassInterceptorModule" type="SassAndCoffee.AspNet.SassInterceptorModule" />
            <add name="JavaScriptInterceptorModule" type="SassAndCoffee.AspNet.JavaScriptInterceptorModule" />
        </modules><caching enabled="true" enableKernelCache="true">
            <profiles>
                <add extension=".css" policy="CacheUntilChange" kernelCachePolicy="CacheUntilChange" varyByHeaders="Accept-Encoding" location="Any" />
                <add extension=".js" policy="CacheUntilChange" kernelCachePolicy="CacheUntilChange" varyByHeaders="Accept-Encoding" location="Any" />
            </profiles>
        </caching><urlCompression doStaticCompression="true" doDynamicCompression="true" /></system.webServer>

<appSettings>
        <remove key="SassAndCoffee.Cache" />
    </appSettings></configuration>
